/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio';
}

/* Variables css */ 
:root{
    --main-blue: rgb(3, 32, 139, 0.899);
    --second-color: #f1f1f1;
    --main-font: 'Poppins';
    --second-font: 'Antonio';
}

/* Navbar */

.navbar{
    background-color: var(--main-blue);
    
    & .navbar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        .navbar-logo{
            aspect-ratio: 2/2;
            object-fit: cover;
        }

        .navbar-enlaces > a{
            color: var(--second-color);
            text-decoration: none;
            font-size: 1.5rem;
            margin: 10px;
        }
    }
}

.seccion-azul{
    display: flex;
    background-color: var(--main-blue);
    color: var(--second-color);
}

/* Hero */

/* Slider de imagenes */

.slider{
    display: flex;
    width: 100%;
    height: 420px;

    & img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }:hover{
        cursor: crosshair;
        aspect-ratio: auto;
        width: 300px;
        opacity: 1;
        filter: contrast(110%);
    }
}

/* Información del colegio */

.seccion-informacion{
    display: flex;
    background-color: var(--second-color);

    .container-informacion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 40px;


        & #informacion-hero{
            display: flex;
            flex-direction: column;
            text-align: center;

            & h1{
                color:var(--main-blue);
            }

            & p{
                color: var(--main-blue);
            }
        }

        & #estatua-almafuerte img{
            width: 400px;
            height: 250px;
        }
    }
}

/* Elegirnos */

.seccion-elegirnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--main-blue);
    color:var(--second-color);
    
    #texto-elegirnos{
        padding-top: 20px;
        text-align: center;
        font-size: 2rem;
    }
}

.items-elegirnos{
    display: flex;
}

.elegirnos{
    padding: 0px 50px 60px 50px;
    background-color: rgb(3, 32, 139, 0.899);
}

.elegirnos .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.elegirnos-titulo{
    padding-top: 3px;
    font-family: 'Antonio', sans-serif;
    font-size: 22px;
    margin: 10px 0;
}

.elegirnos i{
    font-size: 2.5rem;
    color:rgb(3, 32, 139, 0.899);
    background-color: rgb(255, 255, 255) ;
    padding: 12px 30px;
    border-radius: 50%;
}

/* Noticias */

#texto-noticias h2{
    display: flex;
    padding-top: 30px;
    padding-left: 190px;
	color: rgb(3, 32, 139, 0.899);
    font-family: 'Antonio', sans-serif;
}

#seccion-noticias{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

#seccion-noticias #noticia-principal img{
    width: 600px;
    height: 380px;
    padding-top: 19px;
}

.noticias-pequeñas{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-right: 20px;
}

.noticias-pequeñas img{
    display: flex;
    padding: 19px;
    width: 350px;
    height: 200px;
}

#texto-noticias-pequeña{
    display: flex;
    justify-content: center;
}

#texto-noticias-pequeñas a{
    color: rgb(3, 32, 139, 0.899);
    padding-right: 20px;
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    font-size: 30px;
}

#texto-noticias-pequeñas a:active{
    color: black;
    padding-bottom: 5px;
    padding-right: 20px;
}


/* .nav .nav_lista{
    display: flex;
    flex-direction: column;
}

.nav .nav_lista .nav_lista_item{
    display: flex;
    text-decoration: none;
    padding: 46px;
    color: white;
} */

/* Texto footer azul*/

.footer-azul{
    display: flex;
    background-color: var(--main-blue);
    padding: 40px;

    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .footer-container-columna{
            display: flex;
            flex-direction: column;
            margin: 50px;

            & #mapa_footer{
                border-radius: 5px;
            }

            & .columna-lista li{
                margin: 50px 0px;
                text-align: center;
                list-style-type: none;

                & a{
                    color: var(--second-color);
                    font-size: 2rem;
                    text-decoration: none;  
                }
            }
        }
    }
}

/* Texto footer azul */

#texto-footer-azul{
    background-color: var(--main-blue);
    color: var(--second-color);
    text-align: center;
    padding: 20px;
}

/* Footer negro*/

footer{
    background-color: #000;
    padding: 20px;

    & p{
        text-align: center;
        color: var(--second-color);
    }
}

/* Media queries */

/* Creado por Ezequiel Pistone */

