/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* VARIABLES */
:root{
    --blue: #2240b1;
    --white: #ffffff;
    --main-font: 'Poppins';
    --second-font: 'Antonio';
}

/* NAVBAR*/
header{
    background-color: var(--blue);
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;

        img{
            height: 100px;
            width: 100px;
        }

        & ul{
            display: flex;
            list-style: none;

            & li{
                margin: 15px;

                & a{
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
}
   
/* MAIN */
main{
    display: flex;
    flex-direction: column;
    margin: auto;

    #presentation{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--second-font);
        height: 80vh;
        margin: 5% 10%;     

        & h1{
            font-size: 3rem;
            font-family: var(--second-font);
            color: var(--blue);
        }

        & span{
            margin-top: 20px;
            text-align: justify;
            font-size: 1.1rem;
        }

        & button{
            background-color: var(--blue);
            color: var(--white);
            height: 50px;
            width: 200px;
            margin-top: 30px;
            font-weight: bold;
            font-size: 1.2rem;
            border: 2px solid #000;
            border-radius: 50px;
            font-family: var(--second-font);

            &:hover{
                background-color: var(--white);
                color: var(--blue);
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }

    #slider{
        display: flex;
        width: 100%;
        height: 80vh;
    
        img{
            width: 0px;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.5s ease;
    
            &:hover{
                cursor: crosshair;
                width: 450px;
                opacity: 1;
                filter: contrast(105%);
            }
        }
    }

    #elegirnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110vh;
        margin: 5% 10%;
        
        #eleg-texto{
            display: flex;
            flex-direction: column;

            & h2{
                font-size: 2.5rem;
                color: var(--blue);
                font-family: var(--second-font);
            }

            & span{
                margin-top: 10px;
                text-align: justify;
                font-size: 1.1rem;
            }

        }

        #eleg-cont{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 20px;
            
            .contenedores{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--blue);
                color: var(--white);
                margin: 20px;
                padding: 18vh;
            }
        }
    }

    #video{
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin: 5% 10%;     
    }

    #news{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        margin: 5% 10%;     
    }
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;

    #blue-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2%;
        background-color: var(--blue);

        & ul{
            list-style: none;

            & li{
                display: flex;
                text-align: center;
                justify-content: center;

                & a{
                    color: var(--white);
                    text-decoration: none;
                    margin: 20px;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }
    }

    #text-footer{
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 2%;

        & div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 4%;

            & p{
                color: var(--white);
            }
        }
    }
}
