/* Estilos generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables css */ 
:root{
    --main-blue: rgb(3, 32, 139, 0.899);
    --main-font: 'Poppins';
    --second-font: 'Antonio';
}

/* Navbar */

.navbar-index{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-blue);
}

/* Secciones */

.seccion-blanca{
    display: flex;
    color: var(--main-blue);
    font-size: 1.5rem;
    background-color: #fff;
    
}

.seccion-azul{
    display: flex;
    background-color: var(--main-blue);
    color:#fff;
}

.seccion-textos{
    color: #000;
    margin: 20px;
    font-size: 1rem;
    text-align:justify;
    align-items: center;
}

/* Hero */

#informacion-hero{
    display: flex;
    flex-direction: column;
    text-align: start;
}

#informacion-hero h3{
    font-size: 60px;
    font-family: 'Antonio', sans-serif;
    color:rgb(3, 32, 139, 0.899);
}

#informacion-hero p{
    font-size: 30px;
    font-family: 'Antonio', sans-serif;
    color: rgb(3, 32, 139, 0.899);
}

#estatua-almafuerte img{
    width:750px;
    height: 350px; 
    border-radius: 5px;
    padding-left: 155px;
}

/* Seccion contactos */

.seccion-contacto{
    padding: 50px 10px 15px 10px;
}

.seccion_titulo{
    background-color: white;
}

#h1_principal{
    font-family: 'Antonio', sans-serif;
    display: flex;
    color: rgb(3, 32, 139, 0.899);
    justify-content: center;
    padding-bottom: 3%;
}

#titulo1{
    font-family: 'Antonio', sans-serif;
    color: black;
    font-size: 25px;
    text-align:center;
}

#texto1{
    color: black;
    font-size: 20px;
    padding: 1.5%;
}

#texto-advertencia p{
    color: red;
    text-align: center;
    font-size: 15px;
    padding: 1.5%;
}

.contacto{
    width: 100%;
    padding-bottom: 25px;
    padding-left: 534px;
    display: flex;
}

.contacto button{
    color: white;
    font-family: 'Antonio', sans-serif;
    background-color: rgb(3, 32, 139, 0.899);
    border: 3px solid white;
    padding: 15px 40px 15px 40px; 
    font-size: 21px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    font-family: 'Antonio', sans-serif;
    border: 3px solid rgb(3, 32, 139, 0.899);
    color:rgb(3, 32, 139, 0.899)
}

.contacto button i{
    color: white;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
    color:rgb(3, 32, 139, 0.899);
}

/* Slider de imagenes */

.slider{
    display: flex;
    width: 100%;
    height: 420px;
}

.slider img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.slider img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
}

/* Elegirnos */

#seccion-elegirnos{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(3, 32, 139, 0.899);
}

#texto-elegirnos{
    padding-top: 20px;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 45px;
}

.items-elegirnos{
    display: flex;
}

.elegirnos{
    padding: 0px 50px 60px 50px;
    background-color: rgb(3, 32, 139, 0.899);
}

.elegirnos .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.elegirnos-titulo{
    padding-top: 3px;
    font-family: 'Antonio', sans-serif;
    font-size: 22px;
    margin: 10px 0;
}

.elegirnos i{
    font-size: 2.5rem;
    color:rgb(3, 32, 139, 0.899);
    background-color: rgb(255, 255, 255) ;
    padding: 12px 30px;
    border-radius: 50%;
}

/* Video aniversario */

#seccion-video{
    padding-top: 55px;
}

#video{
    display: flex;
    justify-content: center;
}

/* Instituto */

.nuestra-historia{
    display: flex;
    padding-top: 40px;
    padding-bottom: 35px;
    justify-content: center;
}

.texto-nuestra-historia{
    font-family: 'Antonio', sans-serif;
    color: rgb(3, 32, 139, 0.899);
    font-size: 50px;
}


.seccion-textos p{
    color: black;
}

.escudos{
   padding: 5px;
}

.escudo img{
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.escudos-contenedor{
    padding-top: 0px;
    margin-bottom: 30px;
}

.escudo{
    position: relative;
}

/* Noticias */

#texto-noticias h2{
    display: flex;
    padding-top: 30px;
    padding-left: 190px;
	color: rgb(3, 32, 139, 0.899);
    font-family: 'Antonio', sans-serif;
}

#seccion-noticias{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

#seccion-noticias #noticia-principal img{
    width: 600px;
    height: 380px;
    padding-top: 19px;
}

.noticias-pequeñas{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding-right: 20px;
}

.noticias-pequeñas img{
    display: flex;
    padding: 19px;
    width: 350px;
    height: 200px;
}

#texto-noticias-pequeña{
    display: flex;
    justify-content: center;
}

#texto-noticias-pequeñas a{
    color: rgb(3, 32, 139, 0.899);
    padding-right: 20px;
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
    font-size: 30px;
}

#texto-noticias-pequeñas a:active{
    color: black;
    padding-bottom: 5px;
    padding-right: 20px;
}

/* Footer azul*/

.footer-azul{
    padding: 40px;
	bottom: 0px;
    background-color: rgb(3, 32, 139, 0.899);
}

.mapa_footer{
    border-radius: 5px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .nav_lista{
    display: flex;
    flex-direction: column;
}

.nav .nav_lista .nav_lista_item{
    display: flex;
    text-decoration: none;
    padding: 46px;
    color: white;
}

/* Texto footer azul*/

.texto-footer-azul{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.texto-footer-azul p{
    color: white;
}

/* Footer negro*/

.footer-negro{
    display:flex;
	bottom: 0px;
    background-color: black;
    justify-content: center;
}

#texto-footer{
    padding: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Media queries */

