/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* VARIABLES */
:root{
    --blue: #2240b1;
    --white: #ffffff;
    --main-font: 'Poppins';
    --second-font: 'Antonio';
}

/* NAVBAR*/
header{
    background-color: var(--blue);
    padding: 1%;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;

        img{
            height: 100px;
            width: 100px;
        }

        & ul{
            display: flex;
            list-style: none;

            & li{
                margin: 15px;

                & a{
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
}

/* SECCIÓN TEXTOS */

.seccion-textos{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto 8%;

    .titulos{
        margin: auto 2%;
        margin-bottom: 20px;
        font-family: var(--second-font);
        font-size: 2.5rem;
        color: var(--blue);
        text-align: center;
    }
    
    .subtitulos{
        font-size: 2rem;
        margin-top: 20px;
        color: var(--blue);
        font-family: var(--second-font);
    }
    
    .textos{
        margin-top: 20px;
        text-align: justify;
        font-size: 1.1rem;
    }

    .video{
        display: grid;
        place-content: center;
        margin-top: 50px;

        & iframe{}
    }

    & button{
        border-radius: 50px;
        background-color: var(--blue);
        color: var(white);
    }
}

.seccion-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    & #button{
        color: var(--white);
        background-color: var(--blue);
        padding: 15px;
        border-radius: 50px;
        border: none;

        &:hover{
            background-color: var(--white);
            color: var(--blue);
            border: 2px solid var(--blue);
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

/* Escudos */

#escudos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 8%;
    padding: 2%;

    .escudos-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img{
            height: 200px;
            width: 300px;
        }
    }
}

#metodos-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8%;
    padding-bottom: 2%;

    .contacto-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--blue);
        color: var(--white);
        border-radius: 20px;
        margin: 20px;  
        padding: 20px; 

        & p{
            font-size: 1.5rem;
            font-weight: 600;

        }

        & span{
            text-align: justify;
            margin-top: 20px;
        }

        & button{
            margin-top: 20px;
            padding: 10px;
            border-radius: 50px;
            border: 2px solid var(--white);
            color: var(--blue);
            font-weight: 600;

            &:hover{
                background-color: var(--blue);
                color: var(--white);
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;

    #blue-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2%;
        background-color: var(--blue);

        & ul{
            list-style: none;

            & li{
                display: flex;
                text-align: center;
                justify-content: center;

                & a{
                    color: var(--white);
                    text-decoration: none;
                    margin: 20px;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }
    }

    #text-footer{
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 2%;

        & div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 4%;

            & p{
                color: var(--white);
            }

            & #btn-footer{
                font-size: 2.5rem;
                background-color: #000;
                color: var(--white);
                border: none;

                &:hover{
                    color: var(--blue);
                    transition: 0.3s;
                    cursor:pointer;
                }
            }
        }
    }
}

/* MEDIAQUERIES */

/* TABLETS */ 
@media (max-width: 1015px){
    #escudos{
        display: flex;
        align-items: center;
        flex-direction: column;

        .escudos-col{
            & img{
                height: 250px;
                width: 350px;
            }
        }
    }

    footer{
        #blue-footer{
            display: flex;
            flex-direction: column;
    
            & ul{
                display: flex;
                flex-direction: row;

                & li{
                    & a{
                        margin: 20px;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

/* CELULARES */ 
@media (max-width: 768px){
    header{
        padding: 0.5%;
        
        nav{
            img{
                height: 80px;
                width: 80px;
            }
    
            & ul{
                & li{
                    margin: 15px;
    
                    & a{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    #metodos-contacto{
        .contacto-contenedor{
            & p{
                font-size: 0.6rem;
                font-weight: 600;
            }
    
            & span{
                font-size: 0.6rem
            }
    
            & button{
                font-size: 0.3rem;
            }
        }
    }

    .seccion-textos{
        .titulos{
            font-size: 2.3rem;
        }
        
        .subtitulos{
            font-size: 1.8rem;
        }
        
        .textos{
            font-size: 1rem;
        }
    
        .video{
            & iframe{
                width: 500px;
            }
        }
    }
}

/* MINI CELULARES */

@media (max-width: 630px){
    header{
        nav{
            & ul{
                & li{
                    & a{
                        font-size: 0.4rem;
                    }
                }
            }
        }
    }

    .seccion-textos{
        .titulos{
            font-size: 2.3rem;
        }
        
        .subtitulos{
            font-size: 1.8rem;
        }
        
        .textos{
            font-size: 1rem;
        }
    
        .video{
            & iframe{
                width: 350px;
            }
        }
    }

    #escudos{
        display: flex;
        align-items: center;
        flex-direction: column;

        .escudos-col{
            & img{
                height: 250px;
                width: 300px;
            }
        }
    }

    footer{
        #blue-footer{
            & ul{
                & li{
                    & a{
                        font-size: 1rem;
                    }
                }
            }
        }

        #text-footer{
            & div{
                & p{
                    font-size: 0.6rem
                }
    
                & #btn-footer{
                    font-size: 1.8rem;
                }
            }
        }
    }
}
