/* GLOBAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* VARIABLES */
:root{
    --blue: #2240b1;
    --white: #ffffff;
    --main-font: 'Poppins';
    --second-font: 'Antonio';
}

/* NAVBAR*/
header{
    background-color: var(--blue);
    padding: 1%;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;

        img{
            height: 100px;
            width: 100px;
        }

        & ul{
            display: flex;
            list-style: none;

            & li{
                margin: 15px;

                & a{
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
    }
}

/* SECCIÓN TEXTOS */

.seccion-textos{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto 8%;

    .titulos{
        margin: auto 2%;
        margin-bottom: 20px;
        font-family: var(--second-font);
        font-size: 2.5rem;
        color: var(--blue);
        text-align: center;
    }
    
    .subtitulos{
        font-size: 2rem;
        margin-top: 20px;
        color: var(--blue);
        font-family: var(--second-font);
    }
    
    .textos{
        margin-top: 20px;
        text-align: justify;
        font-size: 1.1rem;
    }

    .video{
        display: grid;
        place-content: center;
        margin-top: 50px;
    }

    & button{
        border-radius: 50px;
        background-color: var(--blue);
        color: var(white);
    }
}

.seccion-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    & button{
        color: var(--white);
        background-color: var(--blue);
        padding: 15px;
        border-radius: 50px;
        border: none;

        &:hover{
            background-color: var(--white);
            color: var(--blue);
            border: 2px solid var(--blue);
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

/* Escudos */

#escudos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 8%;
    padding: 2%;

    .escudos-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img{
            height: 200px;
            width: 300px;
        }
    }
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;

    #blue-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2%;
        background-color: var(--blue);

        & ul{
            list-style: none;

            & li{
                display: flex;
                text-align: center;
                justify-content: center;

                & a{
                    color: var(--white);
                    text-decoration: none;
                    margin: 20px;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
        }
    }

    #text-footer{
        display: flex;
        flex-direction: column;
        background-color: #000;
        padding: 2%;

        & div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 4%;

            & p{
                color: var(--white);
            }
        }
    }
}
